


@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Asap-Regular.ttf);
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Asap-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Asap-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

div, ul , h1, h2 , h3 , a , p, span {
    font-family: myFirstFont;
}
h2{
  font-size: 38px;
  font-weight: bold;
  font-style: italic;

}
h3{
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}
p ,  ul {
  font-size: 16px;
}
   li{
     font-size: 24px;
     line-height:
   }
.menubg{
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 1px;

}
.collapse.navbar-collapse{
  float: right;
}
.containermenu{
  width: 900px;
  margin: 0 auto;

}

body{
  background-image: url(../img/bg.png);
}

.topimage,
.texttopimage{
text-align: center;
}

.line{
  height: 2px;
  width: 85%;
  background-color: #df4529;
  margin: 40px auto;
}

.topimage>img{
  width: 95%;
}






.backgroundcolor{
  background-color: #fff;
}
.backgroundcolorblue{
  background-color: #004659;
  color: #fff;
  padding: 40px 0;
}
.backgroundcolorblue .col-lg-6{
  float: none;
}

.greencircle{
  width: 180px;
  height: 180px;
  background-color: #08b500;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-top: -90px;
  margin-right: auto;
  padding-top: 48px;
}
.greencircle span{
  font-size: 26px;
  color: #fff;
  font-style: italic;
  font-weight: bold;
}
.gcb{
  border: solid 5px #fff;

}


.space{
  height: 30px
}
.twobg{
  margin-bottom: -300px;
  margin-left: 170px;
}

.twobgtwo{
  margin-bottom: -80px;
  margin-left: 170px;
  margin-top: 100px
}

.Erfolg
{
  padding: 0 30px
}

.Erfolg h3{
  padding-right: 50px;
}


/*------------------------------------------- news -------*/



.my-input input{
  width: 250px;
  height: 35px;
margin: 20px 0;
padding-left: 10px;
}


#mc_embed_signup{
  background: none !important;
  margin: 20px 0;
}
#mc-embedded-subscribe{
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    font-family: myfont-family;
    padding: 74px 43px;
    border-radius: 50%;
    margin: -41px 0 0 0 !important;
}


#mc_embed_signup form
{
  padding-left: 0px !important;
}




.footertaxt{
  text-align: center;
  padding-bottom: 100px;
  margin-top: 50px;
  clear: both;
}
.footertaxt {

}
.footercontact{
  position: absolute;
  z-index: 2221;
  width: 40%;
  color: #fff;
}

.footercontact img{
  width: 40px;
}

.footerimg{
  width: 100%;
  height: 400px;
  background-position: center center;
  background-image: url(../img/footer-bild.jpg);
  background-size: cover;
}
.footerlinks{
  text-align: center;
  background-color: #fff;
}
.footerlinks img{
  margin-bottom: 40px;
}
.footerlinks p{
  margin-bottom:  0px;
}
.footerlinks span{
  font-size: 12px
}
.buch-nein{
  width: 100%;
  margin-top: 30px;
  max-width: 200px;
  margin-left: 15px;
}
.buch-nein-down.hidden-lg.hidden-md{
  text-align: center;
  margin: 20px auto;
}
.texttopimage {
    margin: 50px 0;
}
.ttis{
  margin: auto 40px;
  max-width: 670px;
  margin: 0 auto;
  padding: 0 20px;
}
.greentaxt{
  font-size: 22px;
  color: #08b500;
}
.boxpadileft{
  padding-right: 80px;
  margin-bottom: 160px;

}
.boxpadiright{
  padding-left: 80px;
  margin-bottom: 160px;

}
.bigbullet{
  font-size: 18px;
  line-height: 22px;
}
.bigbullet li{
margin-bottom: 12px;
display: block;
}
.bigbullet li::before{
      width: 28px;
      height: 28px;
      background-color: red;
      border-radius: 50%;
      content: " ";
      position: absolute;
      margin-left: -40px;
      margin-top: 2px;
}
.newsbox{
 margin-bottom: 50px;
}
.ender{
  margin: 0px
}
.my-input{
  margin-bottom: 40px;
}

.slide,
.imagemargin{
  margin-bottom: 40px;
}

a.carousel-control{
  background: none !important;
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before
{
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.5);
}


.carousel-caption{
  font-size: 48px;
  top: 25%;
  font-weight: bold;
  font-style: italic;
}
.carousel-caption span{
  font-size: 18px;
  font-weight: bold;
  top: -50px;

}

.content-rechts{
  float: right;
  margin-bottom: -90px;
}


.navbar a:hover{
  background: none !important;
}
.container-fluid{
  padding: 0 10%;
}
.navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-toggle{
  border-color: #fff;
}

.navbar-header{
  width: 100%;
}

.topimage-link{
  text-align: right;
}
.topimage-link img{
margin-top: -88%;
margin-right: 2%;
width: 22%;
}

.afterslid p{
  margin: 60px 0px 100px 0px;
}
.line.hedden-lg.hidden-md{
  display: none;
}
.greencircle
{
  z-index: 0;
  position: relative;
}

.greencircle::after
  {

    content: "JETZT \A kostenlos \A ANmelden ";
    white-space: pre;
    position: absolute;
    z-index: 1;
    color: #fff;
    font-family: myFirstFont;
    margin-top: -142px;
    font-size: 2.1em;
    font-weight: bold;
    font-style: italic;
    line-height: 31px;
    margin-left: -68px;
    
  }

/*.greencircle::before{
  content: "JETZT ";
  content: "ANmelden";
  position: absolute;
  color: #fff;
  margin-top: -70px;
  margin-left: -30px;
  font-size: 3em;
  font-family: my;
}
.greencircle::after{
content:"ANmelden";
content: "ANmelden";
position: absolute;
color: #fff;
margin-top: -70px;
margin-left: -30px;
font-size: 3em;
font-family: my;

}*/

@media screen and (max-width: 1200px) {
  .twobg,
  .twobgtwo{
    margin-left: 0px !important;
  }

}



@media screen and (max-width: 992px) {
  .boxpadileft{
    margin-bottom: 0 !important;
    padding-right: 15px!important;
  }
  .boxpadiright{
    padding-left: 30px !important;
  }
  .greentaxt{
    text-align: center;
  }
  .container{
    width: 100% !important;
  }
  .mymargin{
    padding: 0 !important;
  }
  .footercontact{
    margin-left: 15px;
  }
  .mmt h2{
    margin-bottom: 60px;
  }
  .greencircle{
    width: 30vw !important;
    height: 30vw !important;
    margin-top: -15vw !important;
}
  .bgcm{
    margin-bottom: 80px !important;
  }
  .greencircle span{
    font-size: 3em;
}


  #mc-embedded-subscribe{
      font-size: 3em;
      padding: 2.8em 1.5em;
      border-radius: 50%;
      margin: -41px 0 0 0 !important;
  }
  .line.hedden-lg.hidden-md{
    display: block;
  }
  .twobg{
    margin-top: 100px !important;
    margin-bottom: -300px !important;
  }

  .resend{
    margin-top: 450px !important;
    margin-bottom: -180px !important;
  }

{
}


@media screen and (min-width: 450px) {
  .topimage>img{
    width: 100% !important;
  }
  .twobg{
    margin-top: 100px !important;
    margin-bottom: -200px !important;
  }

  .resend{
    margin-top: 450px !important;
    margin-bottom: -180px !important;
  }
  }
